*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 72px;
    padding: 0px 64px;
    /* border: 2px solid black; */
    border-bottom: 1px solid black;
}
.header2{
    display: flex;
  
    width: 100%;
    height: 72px;
    /* border: 2px solid black; */
    
}
.img{
   /* margin-top: 10px; */
    width: 156;
    height: 72;
    margin: 0px 18px;
}
.img a{
    /* margin-top: 10px; */
   
    width: 156px;
    height: 42.4px;
}
.img img{
    cursor: pointer;
    margin-top: 10px;
    width: 156px;
    height: 36px;
}
.search{
    display: flex;
    width: 828px;
    height: 42px;
    margin-top: 10px;
}
.search1{
    display: flex;
    border: 1px solid black;
    width: 550px;
    height: 45.2;
    padding: 11px;
    margin-left: 10px;
}
.search2{
    width: 28px;
    height: 20px;
    padding: 0px 8px;
}
.search2 img{
    /* margin-top: 10px; */
    width: 20px;
    height: 20px;
}
.int{
    /* margin-top: 10px; */
    width: 198.px;
    height: 21.8;
}
 .int input{
    font-size: 16px;
    font-weight: 100;
    /* width: 198.px; */
    height: 21.8;
    border: 1px solid white;
    
}
.int input :focus{
    outline: none;
}
.become{
margin-top: 20px;
   width: 250px;
   height: 50px;
   /* border: 2px solid black; */
   text-align: center;
   margin-left: 10px;
   cursor: pointer;
}
.become1{
    margin-top: 10px;
       width: 250px;
       height: 50px;
       /* border: 2px solid black; */
       text-align: center;
       margin-left: 10px;
       border-left: 1px solid #000;
       border-right: 1px solid #000;
       cursor: pointer;
    }
    .become h3{
      
        font-weight: 100;
          
         
    }
    .become1 h3{
        margin-top: 10px;
        font-weight: 100;
          
         
    }
    .become2{
        margin-top: 5px;
           width: 150px;
          
           height: 50px;
           /* border: 2px solid black; */
           text-align: center;
           cursor: pointer;
          
        }
        .become2 h3{
            font-weight: 100;
        }
        .section2{
            padding: 0px 94px;
        }
        .list{
            margin-top: 20px;
            height: 40px;
        }
        .list ul li{
            list-style: none;
            float: left;
            font-size: 15px;
            margin-left: 20px;
          text-align: center;
          /* text-size-adjust: 20px; */
          cursor: pointer;

        }
        .list ul li:hover{
          color: rgb(134, 6, 253);
        }
        .photo{
           
            width: 100%;
            height: 400px;
            background-image: url(photo1.png);
            text-align: start;
            padding-left: 1000px;

        }
        .photo1{
            margin-right: 100px;
          padding-top: 120px;
          color: white;
          font-size: 30px;

          
        }
        .p{
            width: 400px;
            margin-bottom: 10px;
          /* border: 2px solid black; */
        }
        .ph{
width: 220px;
height: 70px;
font-weight: 500;
border: 1px solid white;
text-align: center;
background-color: white;
border-radius: 10px;
        }
        .ph h3{
            margin-top: 10px;
            color: #2b2b2b;
            cursor: pointer;
           
        }
        .days{
            width: 100%;
            height: 70px;
            padding: 15px;
            background-color: rgb(242, 214, 223);

        }
        .day{
           display: flex;
           justify-content: center;
            width: 100%;
            height: 40px;
           border-radius: 10px;
           padding: 10px 0px;

           background-color: white;
            border: 1px solid plum;
        }
        .day1{
            display: flex;
            width: 200px;
            height: 20px;
            /* padding: 10px 0px; */
            font-weight: 100;
            justify-content: center;
           
        }
        .day1 img{
            width: 20px;
            height: 20px;
        }
        .day1 h3{
            font-weight: 100;
        }
        #day1{
            font-weight: 100;
            border-left: 1px solid  plum;
            border-right: 1px solid plum;
        }
        .eth{
            width: 100%;
            height: 300px;
            padding: 50px;
           

        }
        .eth1{
            display: flex;
            /* border: 1px solid black; */
            justify-content: space-between;
            cursor: pointer;
        }
        .eth1 :hover{
            transform: translateY(-5px);
        }
        .eth2 h3{
            margin-top: 10px;
            text-align: center;
            font-weight: 100;
            font-size: 15px;
            cursor: pointer;
        }
        .gold{
            display: flex;
            width: 100%;
            min-height: 600px;
            background-image: url(gold.png);
        }
        .gold1{
            margin-top: 450px;
            margin-left: 200px;
           
        }
        .gold1 h3{
            display: flex;
            justify-content: center;
           padding: 10px;
           font-size: 40px;
           font-weight: 100;
          color: goldenrod;
          background-color: rgb(47, 38, 16);
          border-radius: 10px;
            width: 230px;
            min-height: 40px;
            border: 1px solid goldenrod;
        }
        .gold2{
          
          margin-left: 600px;
          width: 400px;
          
        }
        .gold2 img{
            cursor: pointer;
            margin-top: 50px;
            margin-left: 20px;
        }
        .gold2 :hover{
            transform: translateY(-5px);
           
        }
        .or{
            width: 100%;
            min-height: 300px;
            padding: 100px 100px 0px 100px;
        }
        .or1{
            display: flex;
            /* border: 1px solid goldenrod; */
        }
        .or2 img{
          
            width: 30px;
        }
        .or1 h2{
            text-align: center;
            width: 250px;
            font-size: 30px;
           font-weight: 400;
        }
        .or1 h3{
            margin-left:850px ;
            color: rgb(83, 14, 14);
          font-weight: 100;
        }
        .or3 {
            padding: 40px;
        }
        .or3 img{
            cursor: pointer;
            margin-left: 10px;
        }
        .bata{
            width: 100%;
            height: 200px;
            background-color: rgb(250, 214, 226);
            padding: 30px 0px;
        }
         .bata1 :hover{
            transform: translateY(-5px);
         }
        .bata1 img{
           
            width: 170px;
            height: 100px;
            margin-left: 15px;
            border-radius: 10px;
        }
        .me{
            display: flex;
            padding: 40px;
            background-image: url(me1.png);
            width: 100%;
            min-height: 400px;
            justify-content: space-around;
        }
        .butten{
            margin-top: 230px;
            width: 200px;
            height: 60px;
            border: 1px solid black;
          
        }
        .butten button{
            width: 200px;
            height: 60px;
            color: rgb(67, 4, 4);
            font-size: 30px;
            border-radius: 10px;
            cursor: pointer;

        }
        .butten1{
            display: flex;
            /* border: 1px solid black; */
            cursor: pointer;
           
        }
        .butten1 :hover{
            transform: translateY(-5px);
        }
        .butten2{
            display: block;
         padding-left: 30px;
        }
        .butten2 h3{
            color: rgb(67, 4, 4);
            background-color: white;
            width: 170px;
            height: 40px;
            text-align: center;
            padding: 10px;
            border-radius: 10px;
            font-size: 20px;
            cursor: pointer;
        }
       